.post-col { height: 150px;}
.seperator-post {
  width: 99%;
  border: 0.5px dashed;
  color: grey;
  margin-bottom: 30px;
}

.service-category-title {
  background: whitesmoke;
  padding: 5px;
  text-align: center;
  color: #8FC78F;
}